<%= link_to content_tag(:span, nil, class: 'glyphicon glyphicon glyphicon-plus') + ' ' + 'Projeto', new_projeto_path, {
  type: :button, class: "btn btn-success botao-crud-adicionar" } %>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th width="50px">Nome</th>
    <th>Data Inicial</th>
    <th>Data Final</th>
    <th>% Completo</th>
    <th>Status</th>
    <th>Ações</th>
  </tr>
  </thead>

  <tbody>
  <% @projetos.each do |registro| %>
    <tr>
      <td style="white-space: nowrap;"><%= registro.nome_projeto %></td>
      <td><%= registro.data_inicio_formatada %></td>
      <td><%= registro.data_final_formatada %></td>
      <td><%= registro.porcentagem_completo.round(2) %></td>
      <td><%= botao_projeto_atrasado registro.projeto_atrasado %></td>
      <td>
        <%= link_to content_tag(:span, nil, class: 'glyphicon glyphicon-pencil', title: 'Editar').html_safe, edit_projeto_path(registro.id) %>
        <%= link_to content_tag(:span, nil, class: 'glyphicon glyphicon-eye-open', title: 'Visualizar').html_safe, projeto_path(registro.id) %>
        <%= link_to content_tag(:span, nil, class: 'glyphicon glyphicon-trash', title: 'Deletar').html_safe, registro, method: :delete, data: { confirm: "Deseja deletar o projeto #{ registro.nome_projeto } ?\nTodas as atividades relacionadas ao projeto também serão deletados." }  %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>